registry=https://registry.npmmirror.com
@arco-iconbox:registry=https://registry.npmjs.org
@arco-themes:registry=https://registry.npmjs.org

engine-strict=true

# 添加的dependency指定版本号，比如以前 "^7.2.1" 会变成 "7.1.2"
save-exact=true

# 解决打包机报错问题
strict-peer-dependencies=false

# https://pnpm.io/npmrc#use-node-version
use-node-version=16.19.0
